{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <body>
    <div class="container">
        <h3>{{ instagram_user.name }}</h3>
        <h6>{{ instagram_user.instagram_id }}</h6>

        <img src="{{ instagram_user.profile_picture_url }}"/>

        <h5>Followers: {{ instagram_user.followers }}</h5>
        <h5>Engagement: {{ data_groomer.engagement_rate }}</h5>

        What does your post distribution look like?
        <h5>Total Number of Photos: {{ instagram_user.photos |length }}</h5>
        <h5>Portraits: {{ data_groomer.portrait_photos |length }}</h5>
        <h5>Pose Photos: {{ data_groomer.social_photos |length }}</h5>
        <h5>Scenery: {{ data_groomer.scenery_photos |length }}</h5>
        <h5>Other Photos: {{ data_groomer.other_photos |length }}</h5>

        {% if data_groomer.portrait_photos %}
            <h5>Most Liked Portraits</h5>
            <div class="row">
                {% for photo in data_groomer.portrait_photos[:10] %}
                    {% with photo=photo %}
                        {% include 'main/photo_preview.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% if data_groomer.social_photos %}
            <h5>Most Liked Pose Photos</h5>
            <div class="row">
            {% for photo in data_groomer.social_photos[:10] %}
                {% with photo=photo %}
                    {% include 'main/photo_preview.html' %}
                {% endwith %}
            {% endfor %}
            </div>
        {% endif %}

        {% if data_groomer.scenery_photos %}
            <h5>Most Liked Outdoors/Scenery Photo</h5>
            <div class="row">
            {% for photo in data_groomer.scenery_photos[:10] %}
                {% with photo=photo %}
                    {% include 'main/photo_preview.html' %}
                {% endwith %}
            {% endfor %}
            </div>
        {% endif %}

        {% if data_groomer.other_photos %}
            <h5>Most liked Other Photo</h5>
            <div class="row">
            {% for photo in data_groomer.other_photos[:10] %}
                {% with photo=photo %}
                    {% include 'main/photo_preview.html' %}
                {% endwith %}
            {% endfor %}
            </div>
        {% endif %}

        <h4> Emotions</h4>
        <h5> Emotional Distribution</h5>
        <img src="{{ url_for('main.temp_file',filename=data_groomer.emotions_distribution_chart()) }}"/>


        <h5> Emotions vs Engagement</h5>
        <p>How do the emotions in your profile affect your engagements?</p>
        <img src="{{ url_for('main.temp_file',filename=data_groomer.emotion_vs_enagagement_chart()) }}"/>

        <h5>Photo Type vs Engagement</h5>
        <img src="{{ url_for('main.temp_file',filename=data_groomer.photo_type_vs_enagagement_chart()) }}"/>

        <h5>Does racy-ness drive engagement?</h5>
        <img src="{{ url_for('main.temp_file',filename=data_groomer.racy_vs_engagement_chart()) }}"/>

        <h4>Pose Detection</h4>
        <p>What poses have the maximum likes?</p>
        {% if data_groomer.top_pose_images %}
            <div class="row">
                {% for photo in data_groomer.top_pose_images %}
                    {% with photo=photo %}
                        {% if photo.pose_image_filename %}
                        {% include 'main/pose_photo_preview.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}


    </div>
    </body>
{% endblock %}