:root {
    --accent-color-1: #FED400;
    --accent-color-1-hover: #ffe256;
}

.btn-primary {
    background-color: var(--accent-color-1);
    color: #000;
}

.btn-primary:hover {
    background-color: var(--accent-color-1-hover);
}

.text-accent-yellow {
    color: var(--accent-color-1);
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(50%); /* or try 50% */
}

.custom-icon {
    color: #f9b700;
}
