{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <style>
        .form {
            max-width: 25vh;
            text-align: left;
        }


    </style>

    <div class="container s3 form">

        <form class="col s3" method="post">

            <div class='row'>
                <div class='col s12'>
                    {{ form.csrf_token }}
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    {{ form.existing_password }}
                    <label for="{{ form.existing_password.id }}">{{ form.existing_password.label }}</label>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    {{ form.new_password }}
                    <label for="{{ form.new_password.id }}">{{ form.new_password.label }}</label>
                </div>
                <label style='float: right;'>
                    <a class='yellow-text text-darken-3' href='#!'><b></b></a>
                </label>
            </div>


            <div class='row'>
                <div class='input-field col s12'>
                    {{ form.confirm_new_password }}
                    <label for="{{ form.confirm_new_password.id }}">{{ form.confirm_new_password.label }}</label>
                </div>
                <label style='float: right;'>
                    <a class='yellow-text text-darken-3' href='#!'><b></b></a>
                </label>
            </div>

            <div class='row'>
                <button type='submit' name='btn_login'
                        class='col s12  btn-large btn-primary waves-effect'>Change Password
                </button>
            </div>


        </form>
    </div>
{% endblock %}