{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #FED400;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #FED400;
            box-shadow: none;
        }
    </style>

    <div class="section"></div>
    <main class="center-align">
        <img class="responsive-img" style="width: 250px;"
             src="{{ url_for('static', filename="images/logo.png") }}"/>
        <div class="section"></div>


        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <h5 class="grey-text">Login</h5>


                <form class="col s12" method="post">
                    <div class='row'>
                        <div class='col s12'>
                            {{ form.csrf_token }}
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            {{ form.email }}
                            <label for="{{ form.email.id }}">{{ form.email.label }}</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            {{ form.password }}
                            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
                        </div>
                        <label style='float: right;'>
                            <a class='yellow-text text-darken-3' href='#!'><b>Forgot Password?</b></a>
                        </label>
                    </div>

                    <br/>

                    <div class='row'>
                        <button type='submit' name='btn_login'
                                class='col s12  btn-large btn-primary waves-effect'>Login
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <a href="{{ url_for('Login.signup') }}" class="black-text">Signup</a>
    </main>
{% endblock %}