<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} Rumaro - The AI Instagram Analyzer</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130474386-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-130474386-2');
    </script>


    {% block head %}
    {% endblock %}

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script href="{{ url_for('static', filename='js/materialize.min.js') }}"></script>


</head>

<body>

<div class="container-fluid">
    {% include 'nav_bar.html' %}
</div>
<br>

<div class="container">

    {% include 'side_ribbon.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <script>
                    $(document).ready(function () {
                        M.toast({html: "{{message}}"});
                    });
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% block content %}
{% endblock %}


{% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block javascript %}
{% endblock %}

</body>
</html>
