<style>
    .nav {
        background-color: #32322E !important;
    }
</style>

<ul id="login_dropdown" class="dropdown-content">

    <li class="divider"></li>
    <li><a href="{{ url_for('Login.logout') }}" class="black-text"><i class="material-icons left custom-icon">exit_to_app</i>Logout</a>
    </li>
</ul>

<ul id="stream_dropdown" class="dropdown-content">
</ul>


<nav class="nav">
    <div class="nav-wrapper">
        <a class="brand-logo hide-on-med-and-down">
            <img style="height: 60px; width: auto;" src="{{ url_for('static', filename='images/logo.png') }}">
        </a>


        <ul class="right">
            <li><a href="{{ url_for('main.index') }}"><i class="material-icons left">home</i>Home</a>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
    });
</script>