<style>
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

    /* The ribbons */

    .corner-ribbon {
        width: 200px;
        background: #e43;
        position: absolute;
        top: 25px;
        left: -50px;
        text-align: center;
        line-height: 50px;
        letter-spacing: 1px;
        color: #f0f0f0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .corner-ribbon.shadow {
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    }

    .corner-ribbon.top-left {
        top: 25px;
        left: -50px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

.corner-ribbon.orange{background: #e82;}
</style>

<div class="corner-ribbon top-left orange shadow">Beta</div>